# Python / Virtualenv
__pycache__/
*.py[cod]
*.pyo
venv/

# PyInstaller outputs
build_app/
dist_app/
release_app/
*.spec

# Node / Electron
app-electron/node_modules/
app-electron/dist/
app-electron/release/
app-electron/.vite/
app-electron/*.log

# Logs / runtime
*.log
error.log

# OS noise
.DS_Store
Thumbs.db
release_BetterfoxUpdater/
config.ini
nuitka-crash-report.xml
resources/betterfox.ico
