name: windows-build

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: app-electron
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
          cache-dependency-path: app-electron/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Build (electron-builder)
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: BetterfoxUpdater-windows
          path: app-electron/release/**
